$colorGreen: #5CDB95;
$colorGreenDark: #379683;
$colorGreenSuperLight: #EDF5E1;
$colorGreenGradient: linear-gradient(#5CDB95, #379683);
$colorBlue: #05386b;
$colorBlueDark: #022242;
$colorBlueAqua: #8EE4EF;
$colorGray: #707070;
$colorGreen: #00B97A;
$colorWhite: #fff;
$colorBlack: #000;
$colorBlackLight: #0a0a0a;
$colorRed: red;

$fontLinotteSemiBold: 'Linotte-Semi-Bold', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;

$radiusMain: 6px;
